<div>
  <p
    style="
      font-size: 100px;
      color: #4169e1;
      font-weight: 600;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      margin-left: 30px;
      padding-top: 250px;
    "
  >
    Contact Us
  </p>
  <p
    style="
      font-size: 40px;
      color: rgb(253, 4, 128);
      font-weight: 200;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      margin-left: 900px;
      margin-top: -70px;
    "
  >
    Karim Rashid, Inc. <br />
    <br />
    428 West 54th Street <br />
    <br />
    New York, NY 10019
  </p>
  <p
    style="
      font-size: 40px;
      color: rgb(253, 4, 128);
      font-weight: 200;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      margin-left: 950px;
      margin-top: 25px;
    "
  >
    212.929.8657
  </p>

  <div class="T"><a>Twitter</a></div>

  <div class="F"><a>Facebook</a></div>

  <div class="I"><a>Instagram</a></div>

  <div class="P"><a>Pintrest</a></div>

  <div class="Y"><a>YouTube</a></div>
</div>
