<div class="body">
  <div class="glow"><h2>
    <span>C</span>
    <span>O</span>
    <span>N</span>
    <span>N</span>
    <span>E</span>
    <span>C</span>
    <span>T</span>
  </h2></div>
  <div class="login-box">
    <form>
      <div class="textbox">
        <input type="text" placeholder="NAME" />
      </div>
      <div class="textbox">
        <input type="number" placeholder="PHONE" />
      </div>
      <div class="textbox">
        <input type="text" placeholder="THE ESSENCE OF THE PROJECT" />
      </div>
      <input
        type="button"
        (click)="onClickMe()"
        class="btn"
        value="LETS START PROJECT TOGETHER"
      />
    </form>
  </div>
</div>

<app-footer></app-footer>
