<div class="container-fluid">
    <div class="col-20">
      <ngb-carousel>
        <ng-template ngbSlide>
          <img src="../assets/e1left.jpg" alt="Delhi Metro" />
        </ng-template>
        <ng-template ngbSlide>
          <img src="../assets/a1left.jpg" alt="Bangalore Metro" />
        </ng-template>
        <ng-template ngbSlide>
          <img src="../assets/b1left.jpg" alt="Channai Metro" />
        </ng-template>
        <ng-template ngbSlide>
          <img src="../assets/c1left.jpg" alt="Jaipur Metro" />
        </ng-template>
        <ng-template ngbSlide>
          <img src="../assets/d1left.jpg" alt="Mumbai Metro" />
        </ng-template>
      </ngb-carousel>
    </div>
  
    <div class="col-20">
      <ngb-carousel>
        <ng-template ngbSlide>
          <img src="../assets/e1right.jpg" alt="Delhi Metro" />
        </ng-template>
        <ng-template ngbSlide>
          <img src="../assets/a1right.jpg" alt="Bangalore Metro" />
        </ng-template>
        <ng-template ngbSlide>
          <img src="../assets/b1right.jpg" alt="Channai Metro" />
        </ng-template>
        <ng-template ngbSlide>
          <img src="../assets/c1right.jpg" alt="Jaipur Metro" />
        </ng-template>
        <ng-template ngbSlide>
          <img src="../assets/d1right.jpg" alt="Mumbai Metro" />
        </ng-template>
      </ngb-carousel>
    </div>
  </div>
  
  <app-categories></app-categories>
  

