<div class="maindiv">
  <div>
    <img src="../assets/1.png" height="400px" width="400px" />
  </div>
  <div class="v1"></div>
  <div class="footlist">
    <ul>
      <li>
        <a routerLink="/aboutus" routerLinkActive="router-link-active">
          About Us</a
        >
      </li>
      <li>
        <a routerLink="/contactus" routerLinkActive="router-link-active"
          >Contact Us
        </a>
      </li>
      <li>
        <a routerLink="/shop" routerLinkActive="router-link-active">
          Shop
        </a>
      </li>
    </ul>
  </div>
  <div class="v1"></div>
  <div>
    <p>
      Varsha Singh, <br />
      <br />
      Inc. 428 West, <br /> <br>
      54th Street, <br />
      <br />
      New York,<br><br> NY 10019, <br> <br>
      U.S.A
    </p>
  </div>
  <div class="v1"></div>
  <div class="iconlist">
    <ul>
      <li>
        <a href="https://www.facebook.com"> <img src="../assets/facebook.png" /></a>
      </li>
      <li>
        <a href="https://www.instagram.com">
          <img src="../assets/instagram.png"
        /></a>
      </li>
      <li>
        <a href="https://twitter.com"> <img src="../assets/twitter.png" /></a>
      </li>
      <li>
        <a href="https://in.pinterest.com/">
          <img src="../assets/pinterest.png"
        /></a>
      </li>
      <li>
        <a href="https://www.youtube.com/"> <img src="../assets/youtube.png" /></a>
      </li>
    </ul>
  </div>
</div>
