<div class="maindiv">
  <div class="footerlist">
    <br />
    <br />
    <br />
    <br />
    <a routerLink="/aboutus" routerLinkActive="router-link-active"> ABOUT US</a>
    <br />
    <br />
    <br />

    <a routerLink="/contactus" routerLinkActive="router-link-active"
      >CONTACT US
    </a>
    <br />
    <br />
    <a routerLink="/shop" routerLinkActive="router-link-active">
      <br />
      SHOP
    </a>
    <br />
    <br />
    <br />
  </div>
  <div class="list">
    <a href="https://www.facebook.com"> <img src="../assets/facebook.png" /></a>
    <a href="https://www.instagram.com">
      <img src="../assets/instagram.png"
    /></a>
    <a href="https://twitter.com"> <img src="../assets/twitter.png" /></a>
    <a href="https://in.pinterest.com/">
      <img src="../assets/pinterest.png"
    /></a>
    <a href="https://www.youtube.com/"> <img src="../assets/youtube.png" /></a>
  </div>
</div>
