<div class="body">
  <div class="heading1 pagal">
    <p>
      ''
    </p>
  </div>
  <div class="heading2 pagal">
    <p>
      Interiors Design
      <br />
      ———
    </p>
  </div>
  <div class="ravan1 pagal"></div>
  <div class="intro1">
    <p>
      <strong>
        TO MY MIND, DESIGN IS <br />
        <br />
        PRIMARILY A CONTENT, AND THEN <br />
        <br />
        A BEAUTIFUL SHELL. THERE IS <br />
        <br />
        NO POINT IN THE BEAUTY, <br />
        <br />
        WHICH IS INCONVENIENT.
        <br />
        <br />
        <br />
        ———
      </strong>
    </p>
    <br /><br /><br />
    <p>
      <strong
        >As an industrial design firm that has grown into interior and
        building<br /><br />
        design over the past 5 years, we have evolved into a full service<br /><br />
        design firm, helping our clients to achieve their goals on a broad
        range<br /><br />
        of project typologies and global locations. Our studio has an<br /><br />
        international team of talented designers and we are supported by a<br /><br />
        varied portfolio of global consultants for any type of project. We<br /><br />
        design at every scale, from the private residence to the towering
        mixed<br /><br />
        use building. We are equipped to support our clients with integrated<br /><br />
        service through the lifecycle of a project.</strong
      >
    </p>
    <br />
    <br />
    <br />
    <h1>Graphic / Branding</h1>
    <br /><br />
    ———
    <br /><br /><br />
    <p>
      <strong>
        We specialize in developing design that reimagines material approaches
        to<br /><br />
        architectural surfaces. Encompassing wallpaper, textiles, ceramics
        and<br /><br />
        more, we work with brands engaged with cutting-edge technology and/
        or<br /><br />
        sustainable methods to realize ambitious concepts. These clients
        include<br /><br />
        Marburg, Abet Laminati, and Alloy Tile.
      </strong>
    </p>
    <br />
    <br />
    <br />
  </div>
</div>
