<div class="container">
  <div class="heading1 pagal">
    <p>
      ''
    </p>
  </div>
  <div class="heading2 pagal">
    <p>
      LivingRoom Projects
    </p>
  </div>
  <div class="ravan1 pagal"></div>
  <div class="intro1">
    <p>
      Two rooms that serve multiple functions can feature great style. <br />
      <br />
      Today’s living room has become smaller and more formal, <br />
      <br />while the family room has become the place for family and <br />
      <br />
      friends to gather for entertainment and fun.<br />
      <br />
      Designing either of these spaces depend on the role each plays in your
      daily life.<br />
      <br />
      Whether one room is formal and the other casual, explore all your
      furniture<br />
      <br />
      options and buy the best you can afford. <br />
      <br />It will be worth the effort in the long run <br />
      <br />— especially while you nap on that extra comfortable sofa!! <br />
      <br />
      ————————————————
    </p>
    <br />
    <br />
    <br />
  </div>
  <div class="by">
    <p
      data-aos="fade-right"
      data-aos-duration="700"
      data-aos-easing="ease-in-sine"
    >
      Generous space of LivingRoom<br />
      <br />
      <br />
    </p>
    <P
      data-aos="fade-left"
      data-aos-duration="700"
      data-aos-easing="ease-in-sine"
      >Designed by. <br /><br /><br />
    </P>
    <P
      data-aos="fade-left"
      data-aos-duration="700"
      data-aos-easing="ease-in-sine"
    >
      Ranea--Michelle--Mathew
      <br />
      <br />
      <br />
      <br />
      ————————
    </P>
  </div>
  <div class="scroll">
    <img src="../assets/scrollicon.png" height="150px" />
    <h1>LIVING ROOM INTERIORS & SPACES</h1>
  </div>
  <hr
    style="
      height: 3px;
      border-width: 0;
      color: gray;
      background-color: white;
      box-shadow: 0 4px 8px 0 rgba(77, 76, 76, 0.425),
        0 6px 20px 0 rgba(77, 77, 77, 0.377);
    "
  />

  <div
    class="img img1"
    data-aos="fade-right"
    data-aos-duration="1100"
    data-aos-easing="ease-in-sine"
  ></div>
  <div
    class="img img2"
    data-aos="fade-up"
    data-aos-duration="1100"
    data-aos-easing="ease-in-sine"
  ></div>
  <div
    class="img img3"
    data-aos="fade-left"
    data-aos-duration="1100"
    data-aos-easing="ease-in-sine"
  ></div>
  <div
    class="img img4"
    data-aos="fade-right"
    data-aos-duration="1100"
    data-aos-easing="ease-in-sine"
  ></div>
  <div
    class="img img5"
    data-aos="fade-up"
    data-aos-duration="1100"
    data-aos-easing="ease-in-sine"
  ></div>
  <div
    class="img img6"
    data-aos="fade-left"
    data-aos-duration="1100"
    data-aos-easing="ease-in-sine"
  ></div>
  <div
    class="img img7"
    data-aos="fade-right"
    data-aos-duration="1100"
    data-aos-easing="ease-in-sine"
  ></div>
  <div
    class="img img8"
    data-aos="fade-up"
    data-aos-duration="1100"
    data-aos-easing="ease-in-sine"
  ></div>
  <div
    class="img img9"
    data-aos="fade-left"
    data-aos-duration="1100"
    data-aos-easing="ease-in-sine"
  ></div>
  <div
    class="img img10"
    data-aos="fade-right"
    data-aos-duration="1100"
    data-aos-easing="ease-in-sine"
  ></div>
  <div
    class="img img11"
    data-aos="fade-up"
    data-aos-duration="1100"
    data-aos-easing="ease-in-sine"
  ></div>
  <div
    class="img img12"
    data-aos="fade-left"
    data-aos-duration="1100"
    data-aos-easing="ease-in-sine"
  ></div>
  <div
    class="img img13"
    data-aos="fade-right"
    data-aos-duration="1100"
    data-aos-easing="ease-in-sine"
  ></div>
  <div
    class="img img14"
    data-aos="fade-up"
    data-aos-duration="1100"
    data-aos-easing="ease-in-sine"
  ></div>
  <div
    class="img img15"
    data-aos="fade-left"
    data-aos-duration="1100"
    data-aos-easing="ease-in-sine"
  ></div>
  <div
    class="img img16"
    data-aos="fade-right"
    data-aos-duration="1100"
    data-aos-easing="ease-in-sine"
  ></div>
  <div
    class="img img17"
    data-aos="fade-up"
    data-aos-duration="1100"
    data-aos-easing="ease-in-sine"
  ></div>
  <div
    class="img img18"
    data-aos="fade-left"
    data-aos-duration="1100"
    data-aos-easing="ease-in-sine"
  ></div>
  <hr
    style="
      height: 3px;
      border-width: 0;
      color: gray;
      background-color: white;
      box-shadow: 0 4px 8px 0 rgba(77, 76, 76, 0.425),
        0 6px 20px 0 rgba(77, 77, 77, 0.377);
    "
  />
</div>
