<div class="container">
  <div
    class="img img1"
    data-aos="fade-right"
    data-aos-duration="1100"
    data-aos-easing="ease-in-sine"
  ></div>
  <div
    class="img img2"
    data-aos="fade-up"
    data-aos-duration="1100"
    data-aos-easing="ease-in-sine"
  ></div>
  <div
    class="img img3"
    data-aos="fade-left"
    data-aos-duration="1100"
    data-aos-easing="ease-in-sine"
  ></div>
  <div
    class="img img4"
    data-aos="fade-right"
    data-aos-duration="1100"
    data-aos-easing="ease-in-sine"
  ></div>
  <div
    class="img img5"
    data-aos="fade-up"
    data-aos-duration="1100"
    data-aos-easing="ease-in-sine"
  ></div>
  <div
    class="img img6"
    data-aos="fade-left"
    data-aos-duration="1100"
    data-aos-easing="ease-in-sine"
  ></div>
  <div
    class="img img7"
    data-aos="fade-right"
    data-aos-duration="1100"
    data-aos-easing="ease-in-sine"
  ></div>
  <div
    class="img img8"
    data-aos="fade-up"
    data-aos-duration="1100"
    data-aos-easing="ease-in-sine"
  ></div>
  <div
    class="img img9"
    data-aos="fade-left"
    data-aos-duration="1100"
    data-aos-easing="ease-in-sine"
  ></div>
  <div
    class="img img10"
    data-aos="fade-right"
    data-aos-duration="1100"
    data-aos-easing="ease-in-sine"
  ></div>
  <div
    class="img img11"
    data-aos="fade-up"
    data-aos-duration="1100"
    data-aos-easing="ease-in-sine"
  ></div>
  <div
    class="img img12"
    data-aos="fade-left"
    data-aos-duration="1100"
    data-aos-easing="ease-in-sine"
  ></div>
  <div
    class="img img13"
    data-aos="fade-right"
    data-aos-duration="1100"
    data-aos-easing="ease-in-sine"
  ></div>
  <div
    class="img img14"
    data-aos="fade-up"
    data-aos-duration="1100"
    data-aos-easing="ease-in-sine"
  ></div>
  <div
    class="img img15"
    data-aos="fade-left"
    data-aos-duration="1100"
    data-aos-easing="ease-in-sine"
  ></div>
</div>
