.container {
  text-align: center;
  margin-top: 100px;
  padding: 10px;
}

.img {
  width: 350px;
  height: 450px;
  display: inline-block;
  margin: 10px;
  background-size: cover;
  background-repeat: no-repeat;
  transition: 5s;
  border: 3px solid #E73C7E;
  border-radius: 12px;
}

.img:hover {
  background-position: bottom center;
}

.box {
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}


/* image work */

.img1 {
  background-image: url(src/assets/a1.jpg);
}

.img2 {
  background-image: url(src/assets/a2.jpg);
}

.img3 {
  background-image: url(src/assets/a27.jpg);
}

.img4 {
  background-image: url(src/assets/a29.jpg);
}

.img5 {
  background-image: url(src/assets/a30.jpg);
}

.img6 {
  background-image: url(src/assets/a31.jpg);
}

.img7 {
  background-image: url(src/assets/a4.jpg);
}

.img8 {
  background-image: url(src/assets/a5.jpg);
}

.img9 {
  background-image: url(src/assets/a26.jpg);
}

.img10 {
  background-image: url(src/assets/a15.jpg);
}

.img11 {
  background-image: url(src/assets/a17.jpg);
}

.img12 {
  background-image: url(src/assets/a25.jpg);
}

.img13 {
  background-image: url(src/assets/a3.jpg);
}

.img14 {
  background-image: url(src/assets/a10.jpg);
}

.img15 {
  background-image: url(src/assets/a14.jpg);
}

.img16 {
  background-image: url(src/assets/a6.jpg);
}

.img17 {
  background-image: url(src/assets/a8.jpg);
}

.img18 {
  background-image: url(src/assets/a16.jpg);
}

.img19 {
  background-image: url(src/assets/a7.jpg);
}

.img20 {
  background-image: url(src/assets/a9.jpg);
}

.img21 {
  background-image: url(src/assets/a11.jpg);
}

.img22 {
  background-image: url(src/assets/a12.jpg);
}

.img23 {
  background-image: url(src/assets/a13.jpg);
}

.img24 {
  background-image: url(src/assets/a18.jpg);
}

.img25 {
  background-image: url(src/assets/a19.jpg);
}

.img26 {
  background-image: url(src/assets/a20.jpg);
}

.img27 {
  background-image: url(src/assets/a21.jpg);
}

.img28 {
  background-image: url(src/assets/a22.jpg);
}

.img29 {
  background-image: url(src/assets/a23.jpg);
}

.img30 {
  background-image: url(src/assets/a24.jpg);
}

.img31 {
  background-image: url(src/assets/a32.jpg);
}
