.body
{
  margin-top: 110px;
  height: 100%;
}


.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
}
.videoWrapper iframe {
  position: absolute;
  top: -1060px;
  left: 80px;
  width: 50%;
  height: 50%;
}
    
.videoWrapper1 iframe {
      position: absolute;
      top: 510px;
      left: 80px;
      width: 50%;
      height: 50%;
    }
.videoWrapper2 iframe {
      position: absolute;
      top: 870px;
      left: 80px;
      width: 50%;
      height: 50%;
    }

ul li a:hover {
      color: black;
    font-size: 80px;
      font-weight: 600;
      text-decoration: none;
    }

.fontcolor1 {
      color: orange;
     }
.fontcolor2 {
      color: rgb(73, 73, 73);
    }

.fontcolor3 {
      color:rgb(34, 34, 173);
    }

ul li{
      list-style: none;
      font-family: 'Cinzel Decorative', cursive;
      margin-left: 780px;
      margin-top: 350px;
    }

    a{
      font-size: 60px ;
    }

.body ul{
    margin-top: 200px;
    }

  