<div class="image1">
  <p
    style="
      font-size: 100px;
      color: #4169e1;
      font-weight: 600;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      margin-left: 1100px;
      padding-top: 150px;
      writing-mode: vertical-rl;
    "
  >
    <a routerLink="about" routerLinkActive="router-link-active">ABOUT</a>
  </p>
  <p
    style="
      font-size: 25px;
      font-weight: 400;
      padding-right: 50px;
      color: white;

      margin-top: 100px;
    "
  >
    Varsha Singh Bisht is one of the most profolic designer of the generation.
    Over 4000 design and 300 awards and working in over 40 countries attest to
    varsha's design.
  </p>
</div>
>
<br />
<div class="image2">
  <p
    style="
      font-size: 100px;
      color: rgb(253, 4, 128);
      font-weight: 600;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      margin-left: 1100px;
      padding-top: 70px;
      writing-mode: vertical-rl;
    "
  >
    <a routerLink="keypeople" routerLinkActive="router-link-active"
      >KEY PEOPLE</a
    >
  </p>
</div>
<br />
<div class="image3">
  <p
    style="
      font-size: 100px;
      color: rgb(210, 105, 30);
      font-weight: 600;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      margin-left: 1100px;
      padding-top: 100px;
      writing-mode: vertical-rl;
    "
  >
    <a routerLink="services" routerLinkActive="router-link-active"> SERVICES</a>
  </p>
</div>
<br />
<div class="image4">
  <p
    style="
      font-size: 100px;
      color: #20b2aa;
      font-weight: 600;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      margin-left: 1100px;
      padding-top: 80px;
      writing-mode: vertical-rl;
    "
  >
    <a routerLink="manifesto" routerLinkActive="router-link-active">
      MANIFESTO</a
    >
  </p>
</div>
<div class="contact1">
  Contact us
</div>
