<div class="body"> 
   <ul>
    <li>
      <a
       routerLink="about" routerLinkActive="router-link-active" 
        class="cool-link fontcolor1"
        >About</a
      >
    </li>
    <li>
      <a
        routerLink="services" routerLinkActive="router-link-active" 
        class="cool-link fontcolor2"
        >Services</a
      >
    </li>
    <li>
      <a
       routerLink="keypeople" routerLinkActive="router-link-active" 
        class="cool-link fontcolor3"
        >People</a
      >
    </li>
  </ul>

  <div class="videoWrapper">
  <iframe
    width="600"
    height="500"
    src="../assets/logovedio.mp4"
    frameborder="2"
    allowfullscreen
  ></iframe>
  </div>

  <div class="videoWrapper2">
  <iframe
    width="600"
    height="500"
    src="../assets/logo3.mp4"
    frameborder="2"
    allowfullscreen
  ></iframe>
  </div>

  <div class="videoWrapper1">
  <iframe
    width="600"
    height="500"
    src="../assets/service.mp4"
    frameborder="2"
    allowfullscreen
  ></iframe>
  </div>
</div>

