<div class="heading1 pagal">
  <p>
    ''
  </p>
</div>
<div class="heading2 pagal">
  <p>
    ABOUT US
    <br />
    ———
  </p>
</div>
<div class="ravan1 pagal"></div>
<div class="intro1">
  <p>
    <strong>
      TO MY MIND, DESIGN IS <br />
      <br />
      PRIMARILY A CONTENT, AND THEN <br />
      <br />
      A BEAUTIFUL SHELL. THERE IS <br />
      <br />
      NO POINT IN THE BEAUTY, <br />
      <br />
      WHICH IS INCONVENIENT.
      <br />
      <br />
      <br />
      ———
    </strong>
  </p>
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <p>
    <small>
      It is hard to tell, when I first realized, that my life was going to be
      <br />
      <br />

      connected with art. But now I am sure, that it was meant to be from the
      start.</small
    >
  </p>
  <br />
  <br />
  <br />
</div>
<div class="flex-container1">
  <div
    data-aos="zoom-in"
    data-aos-duration="700"
    data-aos-easing="ease-in-sine"
  >
    <p style="font-size: 150px;">T</p>
  </div>
  <div
    data-aos="zoom-in"
    data-aos-duration="700"
    data-aos-easing="ease-in-sine"
  >
    Today Andrey Sokruta Interior Design Studio successfully <br />
    applies the strongest wishes of our clients <br />
    to reality. Good responses of our clients and <br />
    their happy smiles are the best proof for <br />
    it. If you face the choice of <br />
    a team to trust your new interior design,<br />
    we are glad to offer out services.<br />
    My artistic life started in the kinder<br />
    garden, where on the classes of<br />
    plasticine modeling and drawing my works<br />
    turned out to be much better than<br />
    the others’. Back then I did not<br />
    know, that I did it good, but <br />
    I definitely was satisfied by the process <br />
    itself.<br />
  </div>
  <div
    data-aos="zoom-in"
    data-aos-duration="700"
    data-aos-easing="ease-in-sine"
  >
    Later, in school, I attended drawing classes and in seventh <br />
    form I entered an artistic school. The teachers of art usually <br />
    praised me and showed my works to the class. At that <br />
    moment I had already realized, that I definitely am a creative <br />
    person. And of course, when I was to choose the higher <br />
    education institution, there could be no doubts – my choice<br />
    was directly connected to art. In Sumy Dmitry Bortniansky <br />
    High School of Art and Culture there passed four years <br />
    of my life, which turned out to be most interesting <br />
    and filled with art. In School we were learned <br />
    the following classes: painting, drawing, sculpture, <br />
    ceramics, composition, design. This very period became<br />
    significant in forming my aesthetic acceptance<br />
    of the world surrounding me. I remember, that this was <br />the time I felt
    passionate about interior design. And that is <br />
    why my next step became NewYork State Academy of Design <br />
    and Arts. Here I learnt the bases of interior design and <br />
    became sure, this was my path. After the years of studying <br />
    and self-improving in schools and higher education <br />
    institutions the time has come to start practicing. And in 2008,<br />
    I successfully fulfilled my first real project.
  </div>
</div>
<br />
<br /><br />
<br />

<div data-aos="zoom-in" data-aos-duration="700" data-aos-easing="ease-in-sine">
  <div class="photo1"></div>
  <div class="lyrics">
    <p>
      IT WAS THEN AND THERE DESIGN STUDIO VARSHA SINGH WHICH TO THIS DAY GIVES
      <br />
      <br />

      OUR CUSTOMERS A QUALITY PRODUCT IN A DESIGN.
    </p>
  </div>
</div>

<div class="flex-container2">
  <div
    class="love3"
    data-aos="zoom-in"
    data-aos-duration="300"
    data-aos-easing="ease-in-sine"
  >
    <p>
      Philoshphy <br />
      <br />OF<br /><br />
      OUR<br /><br />
      STUDIO<br /><br />
      IS <br /><br />IN <br /><br />TWO <br /><br />SIMPLE<br /><br />
      TRUTHS:
    </p>
  </div>
  <div class="love1" data-aos="fade-left" data-aos-duration="500">
    1
  </div>
  <div data-aos="fade-left" data-aos-duration="500">
    <strong
      >DETAILS!
      <br />
      <br />
      ———</strong
    >
    <br />
    <br />
    <small
      >Our destinctive feature is attention <br />
      to the little things. <br />There can be no design <br />
      without details. Imagine, for<br />
      example, the kitchen’s interior <br />without kitchenware, dishes, cooker
      <br />
      hood and wall clock. In <br />
      order to percieve the project <br />
      completely, we need all the <br />
      elements, planned to be placed<br />
      there, to be included into<br />
      the project. This is <br />
      why being an inveterate <br />
      perfectionist I cultivate the<br />
      importance of the little things <br />
      among the studio staff.</small
    >
  </div>
  <div class="love2" data-aos="fade-left" data-aos-duration="1000">
    2
  </div>
  <div data-aos="fade-left" data-aos-duration="1000">
    <strong
      >CONTENT!
      <br />
      <br />
      ———</strong
    >
    <br />
    <br />
    <small
      >The main criterium for a <br />
      successful design is the <br />comfortability of using it. <br />Yes, the
      client first pays <br />
      attention to the aesthetics of <br />the project, and can estimate <br />
      how comfortable the solution <br />is only after its realization.<br />
      Our task is to provide<br />
      you with the best combination<br />
      of a beautiful shell and <br />the functuality, as a beautiful
      <br />execution without coziness <br />of using is pointless.</small
    >
  </div>
</div>

<div class="flex-container3">
  <div class="bigline">WE</div>
  <div class="profile1" data-aos="fade-up" data-aos-duration="800"></div>
  <div class="profile2" data-aos="fade-up" data-aos-duration="800">
    <STRONG>
      VARSHA SINGH <br />
      <br />
      ———
    </STRONG>
    <br />
    <br />
    <small
      >THE AUTHOR PROJECTS, <br />
      THE DESIGNER</small
    >
    <div class="flex-container4">
      <div class="profile3" data-aos="fade-up" data-aos-duration="200">
        2010 - 2014 Art School
      </div>
      <div class="profile4" data-aos="fade-up" data-aos-duration="600">
        2014 - 2015 Sumy Graduate School of<br />
        Arts and Culture DS Bortnyansky faculty "decorative art"
      </div>
      <div class="profile5" data-aos="fade-up" data-aos-duration="900">
        2015 - 2016 Kharkiv State Academy of <br />
        Design and Arts. Faculty: "ENVIRONMENT <br />
        DESIGN", specialization: "INTERIOR <br />
        DESIGN AND EQUIPMENT"
      </div>
    </div>
  </div>
</div>

<div class="flex-container5">
  <div class="nike1"data-aos="fade-up" data-aos-duration="200">
    <STRONG>HOW WE WORK</STRONG> <br />
    <br />
    <br />
    <br />
    <small>
      FOR MORE THAN 6 YEARS OF <br />EXPERIENCE IN THE MARKET, WE <br />
      HAVE DEVELOPED A <br />
      COVINENT PROCESS OF PROJECT
    </small>
  </div>
  <div class="number1"data-aos="fade-up" data-aos-duration="500">1</div>
  <br /><br /><br />
  <div class="nike2"data-aos="fade-up" data-aos-duration="500">
    <strong>
      STATEMENT OF THE PROBLEM <br />
      <br
    /></strong>
    <strong> ———</strong><br /><br />
    start creating the project, <br />
    we have to prepare in <br />
    a certain way. Usually we<br />
    hold one or several meetings <br />
    with the clients and find<br />
    out their ideas and<br />
    requirements to the future design.
  </div>
  <div class="number2"data-aos="fade-up" data-aos-duration="500">2</div>
  <br /><br /><br />
  <div class="nike3"data-aos="fade-up" data-aos-duration="500">
    <strong>DEVELOPMENT OF RENDERINGS</strong> <br /><br />
    <strong> ———</strong><br /><br />
    The creating process includes <br />making the virtual 3D-model<br />
    of the object in the real<br />
    size, which helps to see the<br />
    final result more clear.<br />
    This format is comfortable<br />
    both for us and for you.
  </div>
</div>
<div class="flex-container6">
  <div class="number3"data-aos="fade-up" data-aos-duration="1000">3</div>
  <br /><br /><br />
  <div class="nike4"data-aos="fade-up" data-aos-duration="1000">
    <strong>PROJECT PRESENTATION</strong> <br /><br />
    <strong> ———</strong><br /><br />
    After Creating 2D model of <br />the room, all the corrections<br />
    and improving we present the<br />
    result we got, to the client.<br />
    During the presentation,the<br />
    recommendations about the <br />
    project realization are given <br />
    by the designers.
  </div>
  <div class="photo2"data-aos="fade-left" data-aos-duration="500"></div>
</div>

<div class="flex-container7">
  <div class="number4"data-aos="fade-up" data-aos-duration="500">4</div>
  <br /><br /><br />
  <div class="nike5"data-aos="fade-up" data-aos-duration="500">
    <strong>
      MATERIAL SELECTION <br />
      <br
    /></strong>
    <strong> ———</strong><br /><br />
    Working on the project, at the <br />
    same time we create the <br />specification of the equipment,<br />
    decorative materials and furniture<br />
    used in the project.<br />
    If the creation of the author’s<br />
    constructions or furniture elements <br />takes place, the client gets<br />
    a complete set of the technical <br />
    documentation..
  </div>
  <div class="number5"data-aos="fade-up" data-aos-duration="900">5</div>
  <br /><br /><br />
  <div class="nike6"data-aos="fade-up" data-aos-duration="900">
    <strong>DESIGNER SUPERVISION</strong> <br /><br />
    <strong> ———</strong><br /><br />
    The work upon the project does not <br />
    end when the drawing package and<br />
    visualization are admitted by the<br />
    customer. During the repair and<br />
    construction works we control all<br />
    the key processes: from the quality <br />of the operations and terms of
    <br />furniture delivery to timely occupancy.
  </div>
</div>

<div class="flex-container10">
  <div class="mark1"data-aos="fade-right" data-aos-duration="200"><strong>OUR VICTORIES AND <br> <br> AWARDS
  <br> <br>  ——— </strong></div>
  <div class="flex-container11">
    <div class="raman1"data-aos="fade-up" data-aos-duration="600">
      <strong>2017</strong> <br /><br />
      <strong> ———</strong> <br> <br>
      <small
        >Finalist of the interior <br />
        of the competition in <br />
        the category of "public<br />
        INTERIOR", held as part<br />
        of the design festival <br />
        "ARROW 2008", in the <br />
        Russian city of Nizhny <br />
        Novgorod.</small
      >
    </div>
    <div class="raman2"></div>
    <div class="raman3"data-aos="fade-up" data-aos-duration="600">
      <strong>2018</strong> <br /><br />
      <strong> ———</strong> <br> <br>
      <small
        >Winner interior installations <br />
        "DECLARES DECOR STYLE" <br />
        Organizers: Publishing House <br />
        ACC-Media; Ltd. PARUS <br />
        ExpoMedia</small
      >
    </div>
  </div>
  <div class="flex-container12">
    <div class="raman4"data-aos="fade-up" data-aos-duration="600">
      <strong>2019</strong> <br /><br />
      <strong> ———</strong> <br> <br>
      <small
        >Winner interior installations <br> "DECLARES DECOR STYLE"</small
      >
    </div>
    <div class="raman5"></div>
</div>

<hr
  style="
    height: 3px;
    border-width: 0;
    color: gray;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(77, 76, 76, 0.425),
      0 6px 20px 0 rgba(77, 77, 77, 0.377);
  "
/>

<router-outlet></router-outlet>
