<div id="nav-bar">
  <ul class="my-app">
    <li>
      <a
        routerLink="/home"
        routerLinkActive="router-link-active"
        class="cool-link"
        > <img src="../assets/home.png">
      </a>
    </li>
  </ul>
  <ul class="buttons">
    <li>
      <a
        routerLink="/shop"
        routerLinkActive="router-link-active"
        class="cool-link"
        >Shop</a
      >
    </li>
    <li>
      <a
        routerLink="/menu"
        routerLinkActive="router-link-active"
        class="cool-link"
        >Menu</a
      >
    </li>
  </ul>
</div>
