<div id="nav-bar">
  <ul class="my-app">
    <li>
      <a routerLink="/home" routerLinkActive="router-link-active">
        <img src="../assets/2.png" height="207px" width="250px" />
      </a>
    </li>
  </ul>
  <ul class="buttons">
    <li>
      <a
        routerLink="/shop"
        routerLinkActive="router-link-active"
        class="cool-link"
        >Shop</a
      >
    </li>
    <li>
      <a
        routerLink="/menu"
        routerLinkActive="router-link-active"
        class="cool-link"
        >Menu</a
      >
    </li>
  </ul>
</div>
<router-outlet></router-outlet>
