<div class="maindiv">
  <div class="div1" data-aos="fade-up" data-aos-duration="2500">
    <a
      [routerLink]="['/home', 'project-1']"
      routerLinkActive="router-link-active"
      >Bed <br />
      <br />
      <br />
      Room..</a
    >
  </div>
  <div class="div2" data-aos="fade-up" data-aos-duration="2900">
    <a
      [routerLink]="['/home', 'project-2']"
      routerLinkActive="router-link-active"
      >Living <br />
      <br />
      <br />
      Room..</a
    >
  </div>
  <div class="div3" data-aos="fade-up" data-aos-duration="2500">
    <a
      [routerLink]="['/home', 'project-3']"
      routerLinkActive="router-link-active"
      >Kitchen..</a
    >
  </div>
  <div class="div4" data-aos="fade-up" data-aos-duration="2900">
    <a
      [routerLink]="['/home', 'project-4']"
      routerLinkActive="router-link-active"
      >Furniture..</a
    >
  </div>
  <div class="div5" data-aos="fade-up" data-aos-duration="2500">
    <a
      [routerLink]="['/home', 'project-5']"
      routerLinkActive="router-link-active"
      >Sit <br />
      <br />
      <br />
      Together..</a
    >
  </div>
  <div class="div6" data-aos="fade-up" data-aos-duration="2900">
    <a
      [routerLink]="['/home', 'project-6']"
      routerLinkActive="router-link-active"
      >Lighting..</a
    >
  </div>
  <div class="div7" data-aos="fade-up" data-aos-duration="2500">
    <a
      [routerLink]="['/home', 'project-7']"
      routerLinkActive="router-link-active"
      >Workspace..</a
    >
  </div>
  <div class="div8" data-aos="fade-up" data-aos-duration="2900">
    <a
      [routerLink]="['/home', 'project-8']"
      routerLinkActive="router-link-active"
      >Custom <br />
      <br />
      <br />
      Tables..</a
    >
  </div>
</div>
