.container {
  text-align: center;
  margin-top: 100px;
  padding: 10px;
}

.img {
  width: 350px;
  height: 450px;
  display: inline-block;
  margin: 10px;
  background-size: cover;
  background-repeat: no-repeat;
  transition: 5s;
  border: 3px solid #E73C7E;
  border-radius: 12px;
}

.img:hover {
  background-position: bottom center;
}

.box {
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}


/* image work */

.img1 {
  background-image: url(src/assets/w1.jpg);
}

.img2 {
  background-image: url(src/assets/w10.jpg);
}

.img3 {
  background-image: url(src/assets/w11.jpg);
}

.img4 {
  background-image: url(src/assets/w3.jpg);
}

.img5 {
  background-image: url(src/assets/w4.jpg);
}

.img6 {
  background-image: url(src/assets/w17.jpg);
}

.img7 {
  background-image: url(src/assets/w20.jpg);
}

.img8 {
  background-image: url(src/assets/w28.jpg);
}

.img9 {
  background-image: url(src/assets/w29.jpg);
}

.img10 {
  background-image: url(src/assets/w13.jpg);
}

.img11 {
  background-image: url(src/assets/w15.jpg);
}

.img12 {
  background-image: url(src/assets/w21.jpg);
}

.img13 {
  background-image: url(src/assets/w5.jpg);
}

.img14 {
  background-image: url(src/assets/w9.jpg);
}

.img15 {
  background-image: url(src/assets/k22.jpg);
}

.img16 {
  background-image: url(src/assets/w12.jpg);
}

.img17 {
  background-image: url(src/assets/w22.jpg);
}

.img18 {
  background-image: url(src/assets/w23.jpg);
}

.img19 {
  background-image: url(src/assets/w24.jpg);
}

.img20 {
  background-image: url(src/assets/w2.jpg);
}

.img21 {
  background-image: url(src/assets/w6.jpg);
}

.img22 {
  background-image: url(src/assets/w7.jpg);
}

.img23 {
  background-image: url(src/assets/w8.jpg);
}

.img24 {
  background-image: url(src/assets/w16.jpg);
}

.img25 {
  background-image: url(src/assets/w19.jpg);
}

.img26 {
  background-image: url(src/assets/w25.jpg);
}

.img27 {
  background-image: url(src/assets/w26.jpg);
}

.img28 {
  background-image: url(src/assets/w27.jpg);
}

.img29 {
  background-image: url(src/assets/w30.jpg);
}

.img30 {
  background-image: url(src/assets/k31.jpg);
}
