<!-- <div 
  id="carouselExampleControls"
  class="carousel slide div1"
  data-ride="carousel"
>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="../assets/off1.jpg" alt="First slide" />
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="../assets/off2.jpg" alt="Second slide" />
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="../assets/off3.jpg" alt="Third slide" />
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="../assets/off4.jpg" alt="forth slide" />
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="../assets/off5.jpg" alt="fifth slide" />
    </div>
  </div>
  <a
    class="carousel-control-prev"
    href="#carouselExampleControls"
    role="button"
    data-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a
    class="carousel-control-next"
    href="#carouselExampleControls"
    role="button"
    data-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>-->

<body>
  <ul>
    <li>
      <div class="content">
        <h1>PROOF OFFICE INTERIOR</h1>
        <P
          >Out of the box! This interior and exterior was completly for software
          developers. So that they can workwith the space and relaxed way.</P
        >
      </div>
    </li>
    <li>
      <div class="content">
        <h1>PROOF OFFICE EXTERIOR</h1>
        <P
          >Out of the box! This interior and exterior was completly for software
          developers. So that they can workwith the space and relaxed way.</P
        >
      </div>
    </li>
    <li>
      <div class="content">
        <h1>PROOF OFFICE INTERIOR</h1>
        <P
          >Out of the box! This interior and exterior was completly for software
          developers. So that they can workwith the space and relaxed way.</P
        >
      </div>
    </li>
    <li>
      <div class="content">
        <h1>PROOF OFFICE EXTERIOR</h1>
        <P
          >Out of the box! This interior and exterior was completly for software
          developers. So that they can workwith the space and relaxed way.</P
        >
      </div>
    </li>
    <li>
      <div class="content">
        <h1>PROOF OFFICE WORKSPACE</h1>
        <P
          >Out of the box! This interior and exterior was completly for software
          developers. So that they can workwith the space and relaxed way.</P
        >
      </div>
    </li>
  </ul>
</body>
