<div class="body">
  <div id="nav-bar">
    <ul class="my-app">
      <li>
        <a routerLink="carpets">CARPETS</a>
      </li>
      <li>
        <a routerLink="curtains">CURTAIN</a>
      </li>
      <li>
        <a routerLink="vase">VASE</a>
      </li>

      <li>
        <a routerLink="lamps">LAMPS</a>
      </li>
      <li>
        <a routerLink="wallprint">WALLPRINT</a>
      </li>
      <li>
        <a routerLink="clocks">CLOCKS</a>
      </li>
    </ul>
  </div>
</div>
<router-outlet></router-outlet>
